@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>TrySarahTops</title>
</head>
<div>
    <h3><u><strong>Sarah May Designs T-shirt Co.</strong></u></h3>
</div>

<body>
    <center>
        <p style="margin:100px">
            <em>
                WELCOME TO SARAH MAY DESIGNS WEBSITE!<br />
                PLEASE LOGIN OR REGISTER.<br />
                HAVE FUN CUSTOMIZING YOUR SHIRTS!
            </em>
        </p>
    </center>
</body>
<center>
    <input type="submit" value="Login" />
    <input type="submit" value="Register" />
</center>
