@{
    ViewData["Title"] = "Login Page";
}

<head>
    <title>TrySarahTops</title>
</head>
<h3><u><strong>Sarah May Designs T-shirt Co.</strong></u></h3>

<body>
    <center>
        <p style="margin:50px 50px">
            <em>
                <h3><strong>Login Page</strong></h3><br />
                Enter Your Login and Password
            </em>
        </p>
    </center>
</body>
<center>
    <form padding="20px 20px 20px 20px">
        <p>Enter Email:</p>
            <input type="email" name="Login" />
        <p>Enter Password:</p>
            <input type="text" name="Password" /><br />
        <p>Click Submit To Login</p>
            <input type="button" name="Submit" value="Submit" />

    </form>
</center>
