@model Shirt

<form method="post">

    Id:
    <input type="text" value="Id" /><br />

    Color:
    <input type="text" value="Color" /><br />

    Size:
    <input type="text" value="Size" /><br />

    Letter:
    <input type="text" value="Letter" /><br />

    Color of Letter:
    <input type="text" value="Color of Letter" /><br />

    TypeofShirt:
    <input type="text" value="Type of Shirt" /><br />


    <input type="submit" name="Submit" value="Submit" />.
</form>
