@model Shirt

<h3><u><strong>Add New Shirt</strong></u></h3>

<form method="post">

    Id:
    <input asp-for="Id">
    <br />

    Color:
    <input asp-for="Color">
    <br />

    Size:
    <input asp-for="Size">
    <br />

    Letter:
    <input asp-for="Letter">
    <br />

    Color of Letter:
    <input asp-for="ColorofLetter">
    <br />

    TypeofShirt:
    <input asp-for="TypeofShirt">
    <br />


    <a input="submit" class="btn btn-outline-success ">Add New Shirt</a>
</form>




