@model Shirt

<h1> Edit Page</h1>

<form method="post">

    Id:
    <input asp-for="Id">
    <br />

    Color:
    <input asp-for="Color">
    <br />

    Size:
    <input asp-for="Size">
    <br />

    Letter:
    <input asp-for="Letter">
    <br />

    Color of Letter:
    <input asp-for="ColorofLetter">
    <br />

    TypeofShirt:
    <input asp-for="TypeofShirt">
    <br />

    <a input="submit" class="btn btn-outline-success ">Edit Shirt</a>
    </form>
